$body_bg: #404040;
$header_bg: #303030;
$header_f: #fff;
$submenu_hover_bg: #4f4f4f;
$toolbar_bg: #303030;
$selected_tools: #171717;
$separator: #171717;
$color_border: #ebebeb;
$color_outline: #181818;
$overlay: #000000cc;
$main_f: #fff;
