body {
  background-color: #121221;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body .board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

body .board .tools {
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .board .tools input[type="radio"] {
  opacity: 0;
}

body .board .tools input[type="number"],
body .board .tools .history,
body .board .tools .tools,
body .board .tools .color-picker,
body .board .tools button {
  height: 30px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  width: 100px;
}

body .board .tools button {
  background-color: #fff;
  color: #121221;
  cursor: pointer;
}

body .board .tools .tools {
  background-image: url("../images/pen.svg");
  width: 50px;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  padding: 0;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: none;
}

body .board .tools .tools label,
body .board .tools .tools input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .board .tools .tools label {
  border: 1px solid #fff;
}

body .board .tools .tools input[type="radio"]:checked + label {
  background-color: rgba(255, 255, 255, 0.4);
}

body .board .tools .eraser {
  background-image: url("../images/eraser.svg");
}

body .board .tools .eyedropper {
  background-image: url("../images/eye-dropper.svg");
}

body .board .tools .fill {
  background-image: url("../images/fill-drip.svg");
}

body .board .tools .history {
  width: 50px;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  padding: 0;
}

body .board .tools .history input[type="button"] {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-size: 18px;
  padding: 0;
}

body .board .tools .history .undo {
  background-image: url("../images/undo.svg");
}

body .board .tools .history .redo {
  background-image: url("../images/redo.svg");
}

body .board .tools .color-picker {
  width: 50px;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  padding: 0;
}

body .board .tools .color-picker input[type="color"] {
  width: 100%;
  -webkit-appearance: none;
  height: 100%;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
}

body .board .tools .color-picker input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

body .board .tools .color-picker input[type="color"]::-webkit-color-swatch {
  border: none;
}

body .board .app-layout {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .board .app-layout .result {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  height: 100%;
  padding: 5px 10px;
}

body .board .app-layout .result > div {
  height: 330px;
  position: relative;
}

body .board .app-layout .result > div > div {
  height: 30px;
  line-height: 30px;
  color: #fff;
}

body .board .app-layout .result > div:after {
  display: block;
  content: "";
  width: 300px;
  height: 300px;
  border: 1px solid #fff;
  position: absolute;
  top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .board .app-layout .artboard {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body .board .app-layout .artboard .canvas {
  display: -ms-grid;
  display: grid;
  background-image: repeating-linear-gradient(#00c8ff 0 1px, transparent 1px 100%), repeating-linear-gradient(90deg, #00c8ff 0 1px, transparent 1px 100%);
  gap: 1px;
  padding: 1px;
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */